################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Finished sample/Marvin.IDP/obj
/Finished sample/TourManagement.API/bin/Debug/netcoreapp2.0
node_modules/
obj/
bin/.vs/
/*/bin/Debug/netcoreapp2.1/
/Cormen/07_QuickSort/bin/Debug/
/.idea/.idea.StudyAlg/.idea
/.idea/.idea.StudyAlg
/DesignPatterns/Behaviour/Visitor/bin/Debug/netcoreapp2.2
/*.user
/lafore_data_structures/Arrays/bin/Debug/netcoreapp2.2
/ConsoleApp1/bin/Debug/netcoreapp2.2
/lafore_data_structures/insertion-sort/bin/Debug/netstandard2.0/insertion-sort.deps.json
/lafore_data_structures/insertion-sort/bin/Debug/netstandard2.0/insertion-sort.dll
/lafore_data_structures/insertion-sort/bin/Debug/netstandard2.0/insertion-sort.pdb
/lafore_data_structures/112-object-sort/bin/Debug/netcoreapp2.2
/lafore_data_structures/insertion-sort/bin/Debug/netcoreapp2.2
/DesignPatterns/Structural/Composite/bin/Debug/netcoreapp2.2
